doctype html
html
    head
        script(src='../static/JavaScript.js' defer='')
        title Doctor Finder - Not found
        link(rel='stylesheet' href='../static/style.css')
    body
        br
        br
        br
        .not-found
            #not-found-image
                img(src='../static/4.png' width='120' height='120' alt='')
            #not-found-text
                h1 
                    | Sorry,
                    br
                    br 
                    | we didn't find a good match for you...