doctype html
html
    head
        script(src='../static/JavaScript.js' defer='')
        title Doctor Finder - Search
        link(rel='stylesheet' href='../static/style.css')
    body
    .A
        .search-container
            .search-item
                img(src='../static/3.png' width='300' height='500' alt='')
            .search
                header
                    nav#nav-Home.nav
                        ul.nav-list
                            li.list-item
                                a.nav-background(href='/HomePage') Log Out
                    h1#what-are-you-looking-for What are you looking for?
                br
                form.form-sign-in-up(action='findDoctors')
                    table.A
                        tr
                            td
                                lable.sign_up_titles(for='city') Service Type:
                            td
                                select#service-types.form-control(required='' name='serviceTypes')
                                    option(value='') -- Select Service Type --
                                    option(value='Dentist') Dentist
                                    option(value='Otolaryngology') Otolaryngology
                                    option(value='Family') Family
                                    option(value='Orthopedic') Orthopedic
                                    option(value='Eyes') Eyes
                                    option(value='Gynecologist') Gynecologist
                                    option(value='Neurologist') Neurologist
                                    option(value='Plastics') Plastics
                        tr
                            td
                                lable.sign_up_titles(for='country') Country:
                            td
                                select#country.form-control(required='' name='country' onchange='dynamic_city()')
                                    option(value='') -- Select Country --
                                    option(value='Israel') Israel
                                    option(value='Argentina') Argentina
                                    option(value='Florida') Florida
                        tr
                            td
                                lable.sign_up_titles(for='') City:
                            td
                                select#city(required='' name="city")
                                    option(value='') -- Select City -- 
                        tr
                            td#radius-textbox
                                input#checkbox-id(type='checkbox' name='checkbox-id' value='' onclick='enableCreateUser(); GetLocation()')
                            td
                                lable.sign_up_titles(for='') Use my current location
                                br
                        tr
                            td
                                lable.sign_up_titles(for='') Radius (KM):
                            td
                                input#radius-input(type='number' name='radiusInput' required='' value='' min='0' max='40000' disabled placeholder="fill if you use location")
                                br
                                // The circumference of the earth is 40,000 KM
                        tr
                            td
                            td.button
                                input.submit(type='submit' name='submit' value='Search')
                    input#latitude(type='text' name='latitude' value = '')
                    input#longtitide(type='text' name='longtitide' value = '')
                    input#signInEmailInSearch(type='email' name='signInEmail' value = signInEmail)
        footer Tal Cohen
